.slider-wraper{
  margin-top: 20px;
  width: 100vw;
  height: 20vh;
}
.slide {
  width: 100vw;
  height: 50vh;

}
.slide img{
  width: 15rem;
  text-align: center;
  position: relative;
  left: 40vw;
}


@media (max-width:768px){
  .slide img {
    left: 13vw;
  }
}