
/*------search-----------*/
.search {
  padding: 20px 0;
  background-color: lightblue;
}
.name-brand{
  font-size: 2rem;
  font-weight: 800;
  color: #0D6EFD;
}
.search .width {
  width: 20%;
}
.search-box {
  width: 60vw;
  margin: 0 10px 0 10px;
  border: 2px solid #0D6EFD;
  border-radius: 5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -ms-border-radius:5px;
  -o-border-radius:5px;
}
.search-box i {
  width: 5%;
  text-align: center;
  font-size: 1.2rem;
  opacity: 0.5;
  color: #0D6EFD;
  padding: 15px 20px;
  font-size: 17px;
}
.search-box input {
  width: 100%;
  padding: 5px;
  background-color: transparent;
}
::placeholder {
  font-size: 15px;
}
.cart {
  position: relative;
}
.search .cart span {
  position: absolute;
  top: -10px;
  right: 0px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  background-color: #0D6EFD;
  font-size: 12px;
  color: #fff;
}
.search .f_flex {
  justify-content: end;
}
/*------search-----------*/
header {
  height: 8vh;
  box-shadow: -1px 15px 17px -8px rgba(0, 0, 0, 0.1);
  background-color: lightblue;
}
header ul {
  line-height: 8vh;
}
header ul li {
  margin-left: 30px;
}
.search.active {
  height: 15vh;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  background-color: lightblue;
  box-shadow: -1px 11px 24px -11px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}
.toggle-btn{
  display: none;
}
.mobile-nav-wraper{
  position: fixed;
  top: 0;
  left: -300px;
  width: 220px;
  height: 100vh;
  background-color: lightblue;
  z-index: 989;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
.header-nav-mobile{
  display: flex;
  justify-content: space-around;
  margin-bottom: 5rem;
}
.nav-brand-mobile{
  font-size: 2rem;
  font-weight: 800;
}
.btn-nav-close{
  background-color: transparent;
  font-size: 2rem;
  text-align: center;
}
.nav-link-mobile{
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
.mobile-nav-wraper-active{
  left: 0px;
}




@media (max-width: 768px) {
  .navbar-link{
    display: none;
  }
  .toggle-btn{
    display: block;
  }
  .profile{
    display: none;
  }
  .name-brand{
    display: none;
  }
  .header{
    display: none;
  }
  /* header ul {
    padding-top: 30px;
  } */
  /* .nav-links-mobile {
    position: absolute;
    display: block;
    list-style: none;
    box-shadow: rgba(50, 50, 93, 0.23) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    left: 0;
    top: 0;
    transition: all 0.5s ease-in-out;
    width: 60%;
    height: 100vh;
    background-color: white;
    z-index: 888;
  } */
  /* header ul li {
    width: 100%;
    transition: all 0.5s ease-in-out;
    text-transform: uppercase;
    line-height: 70px;
  } */
  /* header .link {
    display: none;
  } */
  /* .close,
  .open {
    position: absolute;
    top: 35px;
    right: 20px;
    color: #ff014f;
    display: block;
    font-size: 25px;
    z-index: 999;
  }
  .close {
    right: 45%;
  }
  .close.home-btn {
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
    color: #ff014f;
    border-radius: 50%;
    padding: 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
  } */
  /* .header.active {
    height: 10vh;
  } */
}
